<div class="reading-state-state">
  <%= @reading_state.state %>

  <%= if @reading_state.state == "reading" do %>
    [
      <%= link "finish", to: "#", phx_click: "finish", phx_value_isbn: @isbn %>
    ]
  <% end %>

</div>
