<h1>My books</h1>

<table>
  <tbody>
<%= for reading_state <- @reading_states do %>
    <tr>
      <td>
        <%= link reading_state.book.metadata.title, to: Routes.reading_state_path(@conn, :show, reading_state) %>
        <%= render "_state.html", reading_state: reading_state %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Add new book", to: Routes.reading_state_path(@conn, :new), class: "button" %></span>
