<h1>New Reading state</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.reading_state_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.reading_state_path(@conn, :index) %></span>
