<figure class="head">
  <img src="<%= Routes.static_url(BonfireWeb.Endpoint, "/images/star_collection.png") %>" />
</figure>

<% stars = if @amount == 1, do: "a star", else: "#{@amount} stars" %>
<h1 class="title">New Star!</h1>
<p>You just collected <b><%= stars %>⭐</b>! The more you read, the more stars you will get.</p>
