<figure class="head">
  <img src="<%= Routes.static_url(BonfireWeb.Endpoint, "/images/welcome-bg.png") %>" />
</figure>

<h1 class="title">Welcome to Bonfire Town!</h1>
<p>Welcome, explorer! Let's enjoy reading together! You can track your reading states by checking in. Do you want to share a book you are reading recently?</p>
