<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Bonfire · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <div class="container">
      <header class="header is-clearfix">
        <a href="/" class="logo"><b>Bonfire</b> reading</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
          <%= if Pow.Plug.current_user(@conn) do %>
          <li><a href="/tracks">My books</a></li>
          <li><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete, class: "navbar-item" %></li>

          <% else %>
          <li><%= link "Sign up", to: Routes.pow_registration_path(@conn, :new) %></li>
          <li><%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %></li>
          <% end %>
        </ul>
      </header>
    </div>

    <main role="main">
      <div class="container">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      </div>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <footer class="footer">
      <div class="content has-text-centered">
        icons by <a target="_blank" href="https://icons8.com">Icons8</a>
      </div>
    </footer>
  </body>
</html>
