<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Bonfire · Share books you are reading and loving" %></title>
    <link rel="stylesheet" href="<%= Routes.static_url(@conn, "/css/app.css") %>"/>
    <link rel="shortcut icon" href="<%= Routes.static_url(@conn, "/images/favicon.svg") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <nav class="navbar is-fixed-top is-white is-spaced" role="navigation" arial-label="main navigation">
      <input type="checkbox" class="burger-trigger" />

      <div class="navbar-brand">
        <%= link to: Routes.page_path(@conn, :index), class: "navbar-item" do %>
          <span class="flex svg-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M323.56 51.2c-20.8 19.3-39.58 39.59-56.22 59.97C240.08 73.62 206.28 35.53 168 0 69.74 91.17 0 209.96 0 281.6 0 408.85 100.29 512 224 512s224-103.15 224-230.4c0-53.27-51.98-163.14-124.44-230.4zm-19.47 340.65C282.43 407.01 255.72 416 226.86 416 154.71 416 96 368.26 96 290.75c0-38.61 24.31-72.63 72.79-130.75 6.93 7.98 98.83 125.34 98.83 125.34l58.63-66.88c4.14 6.85 7.91 13.55 11.27 19.97 27.35 52.19 15.81 118.97-33.43 153.42z"/></svg>
          </span>
          <b>Bonfire</b> reading
        <% end %>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>

      </div>

      <div class="navbar-menu">
        <div class="navbar-start">

          <%= link to: Routes.checkin_path(@conn, :new), class: "new-checkin navbar-item" do %>
            <span class="flex svg-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 64h-48V12c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v52H160V12c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v52H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm-6 400H54a6 6 0 0 1-6-6V160h352v298a6 6 0 0 1-6 6zm-52.849-200.65L198.842 404.519c-4.705 4.667-12.303 4.637-16.971-.068l-75.091-75.699c-4.667-4.705-4.637-12.303.068-16.971l22.719-22.536c4.705-4.667 12.303-4.637 16.97.069l44.104 44.461 111.072-110.181c4.705-4.667 12.303-4.637 16.971.068l22.536 22.718c4.667 4.705 4.636 12.303-.069 16.97z"/></svg>
            </span>
            Check in
          <% end %>

          <%= link to: Routes.game_path(@conn, :index), class: "leaderboard navbar-item" do %>
            <span class="flex svg-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M552 64H448V24c0-13.3-10.7-24-24-24H152c-13.3 0-24 10.7-24 24v40H24C10.7 64 0 74.7 0 88v56c0 35.7 22.5 72.4 61.9 100.7 31.5 22.7 69.8 37.1 110 41.7C203.3 338.5 240 360 240 360v72h-48c-35.3 0-64 20.7-64 56v12c0 6.6 5.4 12 12 12h296c6.6 0 12-5.4 12-12v-12c0-35.3-28.7-56-64-56h-48v-72s36.7-21.5 68.1-73.6c40.3-4.6 78.6-19 110-41.7 39.3-28.3 61.9-65 61.9-100.7V88c0-13.3-10.7-24-24-24zM99.3 192.8C74.9 175.2 64 155.6 64 144v-16h64.2c1 32.6 5.8 61.2 12.8 86.2-15.1-5.2-29.2-12.4-41.7-21.4zM512 144c0 16.1-17.7 36.1-35.3 48.8-12.5 9-26.7 16.2-41.8 21.4 7-25 11.8-53.6 12.8-86.2H512v16z"/></svg>
            </span>
            Leaderboard
          <% end %>
        </div>

        <div class="navbar-end">

          <%= if @conn.assigns.current_user do %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"><%= @conn.assigns.current_user.email %></a>
            <div class="navbar-dropdown is-right" role="menu">
              <%= link "My Reading", to: Routes.reading_state_path(@conn, :index), class: "navbar-item" %>
              <%= link "Add new book", to: Routes.reading_state_path(@conn, :new), class: "navbar-item" %>
              <%= link "Settings", to: Routes.profile_path(@conn, :edit), class: "navbar-item" %>
              <hr class="navbar-divider" />
              <%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete, class: "navbar-item" %>
            </div>
          </div>

          <% else %>
          <div class="navbar-item"><%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %></div>
          <% end %>
      </div>

    </nav>

    <main role="main">
      <div class="flash container">
        <% info = get_flash(@conn, :info) %>
        <% error = get_flash(@conn, :error) %>

        <%= if info do %><div class="notification is-success is-light" role="alert"><%= info %></div><% end %>
        <%= if error do %><div class="notification is-warning is-light" role="alert"><%= error %></div><% end %>
      </div>

      <%= @inner_content %>
      <%= if @current_user, do: live_render @conn, BonfireWeb.Live.Push, session: %{"user" => @current_user} %>
    </main>

    <script async type="text/javascript" src="<%= Routes.static_url(@conn, "/js/app.js") %>"></script>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          This site is open sourced.
          <a rel="nofollow" href="https://github.com/qhwa/bonfire">Source code</a>
        </p>
        <p>❤️  Built with <a rel="nofollow" href="https://elixir-lang.org">Elixir</a>, <a rel="nofollow" href="http://www.phoenixframework.org/">Phoenix</a>, <a rel="nofollow" href="https://github.com/commanded/commanded">Commanded</a>, <a rel="nofollow" href="https://powauth.com">Pow</a> and other open source softwares.</p>
        <p>Application health monitoring sponsored by <a href="https://appsignal.com" rel="nofollow">AppSignal</a></p>
        <p>Design assets from <a href="https://www.freepik.com/free-photo/copy-space-opened-books-table_6950300.htm" rel="nofollow">freepik</a></p>
      </div>
    </footer>
  </body>
</html>
