<section id="home-hero-1" class="hero is-medium is-bold is-warnning is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Record your reading activities</h1>
      <h2 class="subtitle">and get rewarded by them!</h2>
      <%= link "Get Started", to: Routes.checkin_path(@conn, :new), class: "button is-large is-warning" %>
    </div>
  </div>
</section>
