@import "./menu.css";

h1.title {
  margin: 0;
}

h2.subtitle {
  line-height: 1.1;
  color: #999;
}

p.description {
  padding: 1em 0;
}

.reading_states {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 2em;
}

.reading_states li {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 15em;
}

.reading_states li .cover {
  height: 11em;
}

.reading_states li .cover a {
  display: flex;
  align-items: flex-end;
  margin-right: 0.5em;
  height: 100%;
}

.cover img {
  max-height: 10em;
}

.reading_states > li {
  margin-bottom: 0.5em;
}

.reading_states li .cover img {
  display: block;
  max-height: 100%;
}

.reading_states li .info {
  padding: 1em 1em 1em 0;
  line-height: 1.6;
}

.reading_states li .title {
  line-height: 1.1;
  display: block;
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 0.5em;
  color: #333;
}

.reading_states li .subtitle {
  font-size: 90%;
  line-height: 1.1;
  color: #999;
  margin-bottom: 0.5em;
}

.reading-state-state .finish-icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.suggestions ul li {
  display: flex;
  margin-bottom: .5em;
}

.suggestions ul li .cover {
  width: 5em;
}

.suggestions ul li .cover img {
  width: 100%;
}

.suggestions ul li .info {
  padding-left: .5em;
}

.suggestions ul li .info .subtitle {
  color: #ccc;
}

.new-reading-state.button {
  float: right;
}
.add-new-book-icon {
  height: 1.5em;
  margin-right: 0.5em;
}

.book .info .title {
  font-size: inherit;
}

.book .info .subtitle {
  font-size: inherit;
}

.profile.container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.new-sharing {
  display: flex;
  flex-direction: row-reverse;
}

.new-sharing .trigger {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  width: 40px;
  height: 100%;
}

.new-sharing .trigger + #new-sharing {
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  margin-right: 0.5em;
}

.new-sharing .trigger:checked + #new-sharing {
  width: 100%;
}

.new-sharing .share-url {
  padding-left: 1em;
  padding-right: 1em;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media only screen and (max-width: 425px) {
  ul.reading_states > li {
    width: 100%;
    margin-bottom: 3em;
  }

  ul.reading_states > li .cover {
    width: 100%;
    height: auto;
  }

  ul.reading_states > li .cover img {
    max-height: unset;
  }

  .new-sharing {
    flex-direction: row;
  }

  .new-sharing .trigger.button {
    left: 0;
    right: unset;
  }

  .new-sharing .trigger + #new-sharing {
    margin-right: auto;
    margin-left: 0.5em;
  }
}
