/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

footer {
  border-top: 1px solid #ccc;
  width: 100%;
  max-width: 76rem;
  padding-top: 2rem;
  margin: 2rem auto;
}

h1.title {
  margin: 0;
}

h2.subtitle {
  line-height: 1;
  color: #999;
}

p.description {
  padding: 1em 0;
}

.reading_states {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 2em;
}

.reading_states li {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 15em;
}

.reading_states li .cover {
  display: block;
  margin-right: 0.5em;
}

.reading_states li .info {
  padding: 1em 0;
  line-height: 1.6;
}

.reading_states li .title {
  line-height: 1;
  display: block;
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 0.5em;
  color: #333;
}

.reading_states li .subtitle {
  margin-bottom: 0.5em;
}

.reading-state-state .finish-icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
