@import "./fonts.css";
@import "./menu.css";
@import "./checkin.css";

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

details summary {
  margin-bottom: .5em;
}

footer.footer {
  margin-top: 3em;
}

.book-title {
  font-family: 'PT Serif Caption', serif;
  font-size: inherit;
}

h1.title {
  margin: 0;
}

.title.page-title {
  margin-bottom: 0;
  line-height: 2;
}

h2.subtitle {
  line-height: 1.1;
  color: #999;
}

p.description {
  padding: 1em 0;
  font-family: 'Average', serif;
}

nav.header {
  font-size: 120%;
}

nav.header .menu {
  font-size: inherit;
}

.breadcrumb {
  font-size: inherit;
}

.notification.is-success.is-light {
  background-color: #effaf3;
  color: #257942;
}

.svg-icon {
  display: inline-flex;
  align-self: center;
}

.svg-icon svg {
  width: 1em;
  height: 1em;
  top: 0.125em;
  position: relative;
}

.svg-icon svg path {
  fill: currentColor;
}

.reading_states {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 2em;
}

.reading_states li {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 15em;
}

.reading_states li .cover {
  height: 11em;
}

.reading_states li .cover a {
  display: flex;
  align-items: flex-end;
  margin-right: 0.5em;
  height: 100%;
}

.cover img {
  max-height: 10em;
}

.reading_states > li {
  margin-bottom: 0.5em;
}

.reading_states li .cover img {
  display: block;
  max-height: 100%;
}

.reading_states li .info {
  padding: 1em 1em 1em 0;
  line-height: 1.6;
}

.reading_states li .title {
  line-height: 1.1;
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #333;
}

.reading_states li .subtitle {
  font-size: 90%;
  line-height: 1.1;
  color: #999;
  margin-bottom: 0.5em;
}

.reading-state-state.reading {
  display: flex;
  align-items: center;
}

.reading_states li .reading-state-state.reading .finish.button {
  opacity: 0;
  transition: opacity .3s ease;
}

.reading_states li:hover .reading-state-state.reading .finish.button {
  opacity: 1;
}

.reading-state-state.reading .finish.button {
  margin-left: .5em;
}

.suggestions ul {
  padding: 1em 0;
  margin-top: -0.75rem;
}

.suggestions ul li {
  display: flex;
  margin-bottom: .5em;
  padding: .5em 1em;
  border-bottom: 1px solid #efefef;
}

.suggestions ul li:last-child {
  border-bottom: none;
}

.suggestions ul li .book-cover {
  height: 4em;
  width: 4em;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.suggestions ul li .info {
  padding-left: .5em;
  flex: 1;
}

.suggestions ul li .info .subtitle {
  color: #ccc;
  margin-bottom: 0;
}

.new-reading-state.button {
  float: right;
}
.add-new-book-icon {
  height: 1.5em;
  margin-right: 0.5em;
}

.book .info .title {
  font-size: inherit;
}

.book .info .subtitle {
  font-size: inherit;
}

.profile.container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.new-sharing {
  display: flex;
  flex-direction: row-reverse;
}

.new-sharing .link.button {
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
}

.new-sharing .trigger {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  width: 40px;
  height: 100%;
}

.new-sharing .trigger + #new-sharing {
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  margin-right: 0.5em;
}

.new-sharing .trigger:checked + #new-sharing {
  width: 100%;
}

.new-sharing .share-url {
  padding-left: 1em;
  padding-right: 1em;
}

.profile .logo {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1em;
  margin-right: 1em;
  border-right: .5px solid #ccc;
}

.reading-state-detail .book-info {
  flex: 2;
}

.reading-state-detail .book-info .description {
  font-size: 120%;
}

.reading-state-detail .user-book {
  flex: 1;
  padding: 1em;
}

.github.auth.button {
  background: url(~@fortawesome/fontawesome-free/svgs/brands/github.svg) no-repeat .5em center / 1em auto;
  padding-left: 2em;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .page-title.page-title {
    line-height: 1;
  }
}

@media only screen and (max-width: 425px) {
  ul.reading_states > li {
    width: 100%;
    margin-bottom: 3em;
  }

  ul.reading_states > li .cover {
    width: 100%;
    height: auto;
  }

  ul.reading_states > li .cover img {
    max-height: unset;
  }

  .new-sharing {
    flex-direction: row;
  }

  .new-sharing .trigger.button {
    left: 0;
    right: unset;
  }

  .new-sharing .trigger + #new-sharing {
    margin-right: auto;
    margin-left: 0.5em;
  }

  .reading-state-state.reading .finish.button {
    opacity: 1;
  }
}
