#leaderboard {
  background: transparent url(../static/images/celebracion.png?v=2) no-repeat top center / 100% auto;
  padding: 2em;
}

#leaderboard ol {
  max-width: 550px;
  margin: 0 auto;
}

#leaderboard ol li.index-1 {
  background: #fff9df;
}

#leaderboard ol li.index-2 {
  background: #ebffdf;
}

#leaderboard ol li.index-3 {
  background: #dff9ff;
}

#leaderboard .level .level-item:first-child {
  flex: 1;
}

#leaderboard .level .level-item:nth-child(2) {
  flex: 3;
}

#leaderboard .level .level-item:nth-child(3) {
  flex: 1;
}
